.header {
    background-color: #3f51b5;
    padding: 12px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    flex-grow: 1;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.link {
    color: white;
    text-decoration: none;
    margin-right: 16px;
}

.searchForm {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.searchInput {
    flex-grow: 1;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.searchInput input {
    padding: 10px;
    font-size: 16px;
}

.userProfile {
    display: flex;
    align-items: center;
    margin-left: 16px;
}

.userIcon {
    font-size: 24px;
    color: white;
    margin-right: 8px;
}

.userName {
    font-size: 16px;
    color: white;
}

